.search-bar {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.search-bar input {
  padding: 12px 20px;
  width: 300px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-bar button {
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  background-color: #1e90ff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.search-bar button:hover {
  background-color: #0d6efd;
}
