.weather-card {
  margin-top: 30px;
  padding: 40px;
  border-radius: 15px;
  background: rgb(105, 130, 156);
  display: inline-block;
  animation: fadeIn 1s ease forwards;
  color: white;
}

.weather-card h1 {
  font-size: 4rem;
}

.weather-card h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.f {
  font-size: 1.5rem;
  opacity: 0.7;
}

.time {
  margin-top: 8px;
  font-size: 1rem;
  opacity: 0.85;
}

.details {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 1.2rem;
}

/* Hourly */
.hourly {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hour {
  text-align: center;
  font-size: 1rem;
}

/* Daily */
.daily {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.day {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}
.hour strong {
  font-size: 1.1rem;
}
.hour {
  display: flex;
  flex-direction: column;
  align-items: center;
}
