.weather-card {
  margin-top: 30px;
  padding: 40px;
  border-radius: 15px;
  background: rgb(242, 245, 248);
  display: inline-block;
  animation: fadeIn 1s ease forwards;
}

.weather-card h1 {
  font-size: 4rem;
}

.weather-card h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.details {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 1.2rem;
}
